.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* style the navigation header */
.header {
  background-color: #688d8a;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav-links {
  list-style: none; /* Remove default list styles */
  display: flex; /* Make the list items flex containers */
  padding: 0; /* Remove default padding */
}

.nav-links li {
  margin-right: 20px; /* Add spacing between the navigation items */
}

.nav-links a {
  text-decoration: none; /* Remove underline from links */
  color: white; /* Set the color for links */
  font-weight: bold;
  font-size: 16px;
}

.body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #688d8a;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.body h1 {
  margin-bottom: -17px;
}

.body h3 {
  margin-bottom: 25px;
  color: #32506b;
}

.body p {
  color: #32506b;
}

.body li {
  color: #32506b;
}
/* style the modal buttons */
.modal {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.modal h2 {
  margin-bottom: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.modal button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #688d8a; /* Change to your preferred color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #688d8a; /* Change to a slightly darker shade */
}

/* style the focus button */
.button-focus {
  background-color: #32506b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}

.button-focus:hover {
  background-color: #688d8a; /* Change to a slightly darker shade on hover */
}

.a {
  color: #32506b;
}

.select-dropdown {
  appearance: none; /* Remove default arrow in some browsers */
  background-color: #32506b;
  color: white;
  padding: 10px;
  border: 1px solid #688d8a;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}

.text-area {
  color: pink;
}
